@import url('style.css');

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap'); */
*{
    margin:0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}
body{
    overflow-y: auto;
}
header{
    /* border: 1px solid red; */
    width: 100vw;
    height: 8vh;
    background-color: var(--background);
    padding: 10px;
}
#nav-logo{
    background: linear-gradient(to right, var(--light),var(--dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 1.6rem;
    font-weight: 800;
    float: left;
}
.nav-options{
    /* background-color: red; */
    float: right;
    width: 60%;

}
.nav-options li{
    display: inline-block;
    /* border: 2px solid black; */
    margin: 0px 40px;
}
.nav-options li a{
    padding: 20px;
    color: var(--nav-text);
    text-decoration: none;
    font-weight: 400;
    text-transform: capitalize;
}
#activated{
    background: linear-gradient(to right, var(--light),var(--dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 500;
}
.home-heading{
    background: linear-gradient(to right, var(--light),var(--dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.5rem;
    font-weight: 800;
}
.home-options{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 70px 0px 30px 0px;
}
.home-greetings{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 20px 0px 0px 0px;
    color: var(--nav-text);
    /* border: 2px solid #e7e7; */
    position: absolute;
    right: 0px;
    top: 50px;
    width: 275px;
    padding: 5px 0px 5px 25px;
    border-radius: 20px 0px 0px 20px;
    background-color: #fff;
}
#options{
    width: 15%;
    /* border: 2px solid red; */
}
/* ******************************************** */
/* show Plots */
/* *********************************** */
.plot-container{
    padding: 5px !important;
    /* border: 2px solid red; */
    width: 65vw;
    height: 28vh;
    margin:10px 0px 40px 30px !important;
    border-radius: 20px;
    position: relative;
    font-family: 'Roboto', sans-serif;
    color: var(--white);

    background: linear-gradient(to right, var(--light),var(--dark)120%);
}
.plot-heading{
    font-weight: 500;
    font-size: 2rem;
    margin: 20px 0px 10px 25px;
    /* padding: 40px 0px 5px 0px; */
    word-spacing: 4px;
    letter-spacing: .8px;
}
.plot-area{
    margin-left: 25px; 
    font-weight: 300;
    font-size: 1.5rem;
    margin-bottom: 10px;

}
.plot-societyname{
    margin-left: 25px;
    font-weight: 300;
    font-size: 1.2rem;
    text-transform: capitalize;
}
.plot-share{
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 3%;
}
/* ******************************************** */
/* Share */
/* *********************************** */
.share-margin{
    margin-bottom: 0px !important;
}
#line{
    background: linear-gradient(to right, var(--light),var(--dark));
    width: 60vw;
    height: 1.2vh;
    border-radius: 20px;
    margin: 20px 80px;
}
.share-property-form{
    background-color: var(--white);
    width: 73%;
    position: relative;
    left: 80px;
    padding: 35px;
    border-radius: 10px;
    /* border: 1px solid red; */
}
.share-propertyform-label{
    /* border: 1px solid rebeccapurple; */
    text-transform: capitalize;
    padding: 5px;
    position: absolute;
    left: 40px;
    font-size: 1.3rem;
    color: var(--nav-text);
}
.share-property-form-input{
    padding: 5px 15px;
    font-size: 1.2rem;
    text-transform: capitalize;
    position: relative;
    left: 40%;
    width: 50%;
}
.form-text{
    /* border: 1px solid red; */
    width: 90%;
    padding-left: 40%;
    text-align: right;
}
.validate-aadhar{
    text-align: right;
    /* border: 1px solid red; */
    width: 90%;
    margin: 10px 0px 20px 0px;
}
.validate-aadhar a{
    background: linear-gradient(to right, var(--light),var(--dark));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: 800;
    font-size: 1.2rem;
}
#form-profile-pic{
    width: 20%;
    /* border: 1px solid springgreen; */
    border-radius: 5px;
    margin: 0px 0px 20px 0px;
}
#share-property-button{
    /* border: 2px solid red; */
    width: 15%;
    position: relative;
    background-color: var(--btn-regular);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;

    border-radius: 5px;
    margin: 40px 0px 0px 276px;
}
#share-property-button input{
    border: none;
    background-color: transparent;
    color: var(--white);
    font-weight: 400;
    padding: 5px;
}
#share-property-icon{
    width: 20%;
}
/* ************************ */
/* Share info */
/* ************** */
.sharing-info{
    /* border: 1px solid red; */
    width: 73%;
    height: auto;
    margin: 20px 0px 30px 80px;
    padding: 10px;
}
.sharing-info-heading{
    /* border: 1px solid blue; */
    color: var(--nav-text);
    font-family: 'Roboto',sans-serif;
    font-size: 1.2rem;
    font-weight: 600;
    word-spacing: 3px;
}
.property-details-info{
    /* border: 1px dotted black; */
    color: var(--nav-text);
    background-color: var(--white);
    padding: 10px;
    margin: 10px 0px 20px 0px;
    font-family: 'Roboto',sans-serif;
    word-spacing: 5px;
    border-radius: 5px;
}
/* ************************ */
/* disable sharing access */
/* ************** */
.sharing-access-info{
    font-family: 'Roboto',"sans";
    /* border: 1px solid red; */
    margin-left: 78px;
    width: 73%;
    padding: 20px 10px;
}
.sharing-access-heading{
    font-family: 'Roboto',"sans";
    text-transform: capitalize;
    background: linear-gradient(to right, var(--red1),var(--red2));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.1rem;
    font-weight: 700;
}
.sharing-access-info-container{
    /* border: 1px solid cyan; */
    background-color: var(--white);
    padding: 20px;
    height: 20vh;
    position: relative;
}
.share-access-users{
    /* border: 1px solid royalblue; */
    font-size: 1.1rem;
    font-weight: 400;
    float: left;
    padding: 10px;
    color: var(--nav-text);
}
.shared-users-name-container{
    width: 100%;
}
#Sharedusers{
    border: 1px solid var(--nav-text);
    width: 70%;
    float: right;
    padding: 10px;
    text-transform: capitalize;
}
#remove-shared-btn{
    border: 1px solid red;
    position: absolute;
    left: 38%;
    padding: 5px 20px;
    bottom: 15px;
    color: var(--btn-regular);
    font-weight: 500;
    background-color: transparent;
    border-radius: 6px;
}

/* ******************************* */
/* My Property View */
/* ******************************* */
.myproperty-info-container{
    border: 1px solid red;
    position: relative;
}
.myproperty-heading-container{
    border: 1px solid rebeccapurple;
}
.myproperty-heading{
    border: 1px solid blue;  
}
.plot-share{
    border: 1px solid blue;  
}
.myproperty-subheading-container{
    border: 1px solid red;
}
.subheading1{
    border: 1px solid blue;
}
.subheading2{
    border: 1px solid blue;
}
.myproperty-form-info-container{
    border: 1px solid gray;
}