{% extends "POAM_portal/layout.html" %}
{% load static %}

{% block title %}
Home
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
{% if user.username == 'latish' %}
    <div>
        <h1>Hello latish</h1>
    </div>
{% else %}
<div class="container-fluid">
    <div class="container">
        <div class="home-greetings">{{person.first_name}} {{person.last_name}}
        </div>
        <div class="home-options">
            <span class="home-heading">My Properties</span>
            <span><a href="{% url 'bank' %}"><img src="../../static/POAM_portal/images/menu.png" alt=""
                        id="options"></a></span>

        </div>

        <div class="property-cards">
            {% for plot in plots %}
            <div class="container plot-container">
                <a href="{% url 'myproperty' plot.number %}" class="format-link">
                    <div class="plot-heading">Property No. {{plot.number}}</div>
                    <div class="plot-area">Area {{plot.area}} {{plot.unit}}</div>
                    <div class="plot-societyname">{{plot.society_name}}</div>
                    <span>
                        <a href="{% url 'share' user.username %}"><img src="../../static/POAM_portal/images/share.png"
                                alt="share" class="plot-share"></a>
                    </span>
                </a>
            </div>
            {% endfor %}
        </div>
        <span class="home-heading">Shared Properties</span>
    </div>
</div>
{% endif %}
{% endif %}
{% endblock %}