{% extends "POAM_portal/layout.html" %}
{% load static %}

{% block title %}
Login
{% endblock %}
{% block head %}
<link href="../../static/POAM_portal/style.css" rel="stylesheet">
{% endblock %}
{% block body %}
{% if user.is_authenticated %}
<div>
    <h1>{{message}}
        <hr> This is login {{user.username}}
    </h1>
</div>
{% else %}
<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="login-container container d-flex flex-column">
        <h2 class="heading">Login</h2>
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <div class="mb-3 form-sections">
                <label for="exampleInputEmail1" class="form-label">Aadhar.no</label>
                <input type="text" class="form-control" maxlength="12" name="username">

            </div>
            <div class="mb-3 form-sections">
                <label for="exampleInputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>
            <div class="mb-3 text-center">
                <input type="submit" value="Login" class="btn-submit">
                <br>
                <span class="form-register-link">New user? <a href="{% url 'register' %}">Register here</a></span>
            </div>
        </form>
    </div>
</div>
{% endif %}

{% endblock %}