{% extends "POAM_portal/layout.html" %}
{% load static %}

{% block title %}
View Property
{% endblock %}

{% block body %}

<div class="container-fluid">
    <div class="container">
        <div class="home-options share-margin">
            <span class="home-heading">My Property</span>
            <span><a href="{% url 'bank' %}"><img src="../../static/POAM_portal/images/menu.png" alt=""
                        id="options"></a></span>

        </div>
        <div id="line"></div>

        <div class="myproperty-info-container">
            <div class="myproperty-heading-container">
                <span class="myproperty-heading">Property no.{{property.number}}</span>
                <span>
                    <a href="{% url 'share' user.username %}"><img src="../../static/POAM_portal/images/share-dark.png"
                            alt="share" class="myproperty-share-btn"></a>
                </span>
            </div>
            <div class="myproperty-subheading-container">
                <span class="subheading1">Area {{property.area}} {{property.unit}}</span>
                <span class="subheading2">{{property.society_name}}</span>
            </div>
            <div class="myproperty-form-info-container">
                <div class="fields">
                    <label for="plot.no">Plot. No</label>
                    <input type="text" value="{{property.number}}" disabled>
                </div>

                <div class="fields">
                    <label for="plotArea">Plot Area</label>
                    <input type="text" value="{{property.area}}" disabled>
                </div>

                <div class="fields">
                    <label for="plot.no">Plot Length</label>
                    <input type="text" value="{{property.length}}" disabled>
                </div>

                <div class="fields">
                    <label for="plot.no">Plot Width</label>
                    <input type="text" value="{{property.width}}" disabled>
                </div>
                <div class="fields">
                    <label for="plot.no">Plot Unit</label>
                    <input type="text" value="{{property.unit}}" disabled>
                </div>
                <div class="fields">
                    <label for="plot.no">Society Name</label>
                    <input type="text" value="{{property.society_name}}" disabled>
                </div>
                <div class="fields">
                    <label for="plot.no">Society Rera no</label>
                    <input type="text" value="{{property.society_rera_no}}" disabled>
                </div>
                <div class="fields">
                    <label for="plot.no">Address</label>
                    <textarea name="address" id="plot-address" cols="30" rows="10" disabled>{{property.plot_address}}</textarea>
                </div>
                <div class="fields">
                    <label for="plot.no">North</label>
                    <input type="text" value="{{property.north}}" disabled>
                </div>
                <div class="fields">
                    <label for="plot.no">South</label>
                    <input type="text" value="{{property.south}}" disabled>
                </div>
                <div class="fields">
                    <label for="plot.no">East</label>
                    <input type="text" value="{{property.east}}" disabled>
                </div>
                <div class="fields">
                    <label for="plot.no">West</label>
                    <input type="text" value="{{property.west}}" disabled>
                </div>

            </div>

            <!-- property chain of title -->
            <div class="title-chain-container">
                <div class="title-chain-heading">
                    Chain of Property Ownership
                </div>
                <div class="title-content-container">
                    <div class="title-block">
                        {% for title in titles %}
                        <!-- <h1>{{title.owner}}</h1>
                        <h1>{{title.plot}}</h1>
                        <h1>{{title.ownership_date}}</h1>
                        <h1>{{title.selling_date}}</h1> -->
                        <div class="title-owner-name">{{title.owner.aadhar_details.first_name}} {{title.owner.aadhar_details.middle_name}} {{title.owner.aadhar_details.last_name}}</div>
                        
                        <div class="title-chain-mini-heading">Date of Ownership</div>
                        <div class="title-chain-own-date">15 Jan 2023</div>
                        <div class="title-chain-mini-heading">Date of Sell</div>
                        <div class="title-chain-own-date">26 Sept 2023</div>
                        {% endfor %}
                    </div>
                    <!-- <div class="title-block">
                        <div class="title-owner-name">Rahul Suresh Kajariya</div>
                        <div class="title-chain-mini-heading">Date of Ownership</div>
                        <div class="title-chain-own-date">15 Jan 2023</div>
                        <div class="title-chain-mini-heading">Date of Sell</div>
                        <div class="title-chain-own-date">26 Sept 2023</div>
                    </div>
                    <div class="title-block">
                        <div class="title-owner-name">Rahul Suresh Kajariya</div>
                        <div class="title-chain-mini-heading">Date of Ownership</div>
                        <div class="title-chain-own-date">15 Jan 2023</div>
                        <div class="title-chain-mini-heading">Date of Sell</div>
                        <div class="title-chain-own-date">26 Sept 2023</div>
                    </div> -->
                </div>
            </div>

            <!-- shared acknowledgement -->
            <div class="shared-ack-container">
                <div class="title-chain-heading">
                    Shared Acknowledgement 
                </div>
                <div class="ack-details-container">
                    <div class="user-info-status">
                        <span class="user-ack-info">Jagat Ram Nagpurkar</span>
                        <span class="logo-text-container"><img src="../../static/POAM_portal/images/yes-icon.png" alt="success-logo" class="aggred-logo">Agreed</span>
                    </div>
                    <div class="user-info-btns">
                        <span><a href="#" class="btn-format cancel-btn user-cancel-btn">Cancel</a></span>
                        <span><a href="#" class="btn-format success-btn user-agreement-btn">Proceed to Agreement</a></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}