{% extends "POAM_portal/layout.html" %}
{% load static %}

{% block title %}
Register
{% endblock %}
{% block head %}
<link href="../../static/POAM_portal/style.css" rel="stylesheet">
{% endblock %}
{% block body %}
<div class="container-fluid d-flex align-items-center justify-content-center">
    <div class="register-container container d-flex flex-column">
        {% if message %}
        <strong>{{message}}</strong>
        {% endif %}
        <h2 class="heading">Register</h2>
        <form method="post" action="{% url 'register' %}">
            {% csrf_token %}
            <div class="mb-3 form-sections">
                <label for="exampleInputEmail1" class="form-label">Aadhar.no</label>
                <input type="text" class="form-control" maxlength="12" name="username">

            </div>
            <div class="mb-3 form-sections">
                <label for="exampleInputPassword" class="form-label">Password</label>
                <input type="password" class="form-control" id="InputPassword" name="password">
            </div>
            <div class="mb-3 form-sections">
                <label for="exampleInputPassword" class="form-label"> Confirm Password</label>
                <input type="password" class="form-control" id="InputPasswordConfirm" name="confirmpassword">
            </div>
            <div class="mb-3 form-sections">
                <label for="exampleInputEmail1" class="form-label">Email</label>
                <input type="email" class="form-control" name="email">

            </div>
            <div class="mb-3 text-center">
                <input type="submit" value="Register" class="btn-submit">
                <br>
                <span class="form-register-link">Existing user? <a href="{% url 'login' %}">Login here</a></span>
            </div>
        </form>
    </div>
</div>
{% endblock %}