{% extends "POAM_portal/layout.html" %}
{% load static %}

{% block title %}
Share Property
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="container">
        <div class="home-options share-margin">
            <span class="home-heading">Share Property</span>
           <span><a href="{% url 'bank' %}"><img src="../../static/POAM_portal/images/menu.png" alt=""
                        id="options"></a></span>
            
        </div>
        <div id="line"></div>
            <div class="share-property-form">
                <form action="{% url 'saveSharing' user.username  %}" method="post">
                    {% csrf_token %}
                    <div>
                        <span class="share-propertyform-label">aadhar card</span>
                        <div class="shared-users-name-container">
                            <select name="shared-users" id="Sharedusers">
                                {% for aadhar in aadhars %}
                                {% if user.username != aadhar.aadhar_details.aadhar_no %}
                                <option value="{{aadhar.aadhar_details.aadhar_no}}" default>{{aadhar}}</option>
                                {% endif %}
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <br>
                    <span id="share-property-button"><input type="submit" value="Share"><img src="../../static/POAM_portal/images/share-property.png" alt="share" id="share-property-icon"></span>
                    </div>
                </form>
                

        <div class="sharing-info">
            <span class="sharing-info-heading">What property details others can able to see.... </span>
            <div class="property-details-info">Plot. No, Area, Property Dimensions, Society, Location information and Chain of titles (Chain of previous owners of the property)</div>
        </div>

        <div class="sharing-access-info">
            <span class="sharing-access-heading">disable sharing access</span>
            <div class="sharing-access-info-container">
                <form action="#" method="get">
                    <span class="share-access-users">Shared Users</span>
                    <div class="shared-users-name-container">
                        <select name="shared-users" id="Sharedusers">
                            <option value="aadhar.no" default>name</option>
                            <option value="aadhar.no" default>name</option>
                            <option value="aadhar.no" default>name</option>
                        </select>
                    </div>
                    <input type="submit" value="Remove" id="remove-shared-btn">
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}