{% extends "POAM_portal/layout.html" %}
{% load static %}

{% block title %}
Share Property
{% endblock %}

{% block body %}

{% if user.is_authenticated %}
<div class="container-fluid">
    <div class="container">
        <div class="home-options share-margin">
            <span class="home-heading">Share Property</span>
           <span><a href="{% url 'bank' %}"><img src="../../static/POAM_portal/images/menu.png" alt=""
                        id="options"></a></span>
            
        </div>
        <div id="line"></div>
        <form action="#" method="post">
            {% csrf_token %}
            <div class="share-property-form">
                <div>
                    <span class="share-propertyform-label">aadhar card</span>
                    <input type="text" name="aadhar_no" placeholder="12 Digit Aadhar no." maxlength="12" class="share-property-form-input" required>
                    <div id="emailHelp" class="form-text">Enter the aadhar card of the person which you want to send property details.</div>
                </div>
                <div class="validate-aadhar">
                    <a href="#">Validate Aadhar</a>
                </div>
                <div>
                    <span>
                        <img src="https://st3.depositphotos.com/6672868/13701/v/600/depositphotos_137014128-stock-illustration-user-profile-icon.jpg" alt="photo" id="form-profile-pic">
                    </span>
                </div>
                <div>
                    <span class="share-propertyform-label">name</span>
                    <input type="text" name="name" class="share-property-form-input" disabled>
                </div>
                
                <span id="share-property-button"><input type="submit" value="Share"><img src="../../static/POAM_portal/images/share-property.png" alt="share" id="share-property-icon"></span>
            </div>
        </form>
        <div class="sharing-info">
            <span class="sharing-info-heading">What property details others can able to see.... </span>
            <div class="property-details-info">Plot. No, Area, Property Dimensions, Society, Location information and Chain of titles (Chain of previous owners of the property)</div>
        </div>

        <div class="sharing-access-info">
            <span class="sharing-access-heading">disable sharing access</span>
            <div class="sharing-access-info-container">
                <form action="#" method="get">
                    <span class="share-access-users">Shared Users</span>
                    <div class="shared-users-name-container">
                        <select name="shared-users" id="Sharedusers">
                            <option value="aadhar.no" default>name</option>
                            <option value="aadhar.no" default>name</option>
                            <option value="aadhar.no" default>name</option>
                        </select>
                    </div>
                    <input type="submit" value="Remove" id="remove-shared-btn">
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}